html, body {
    height: 90%;
}
.price {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.interval {
  color: rgba(0, 0, 0, 0.5);
  text-align: end;
}

.main {
    margin-bottom: 100px;
}